/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and container styles */
body {
  font-family: "Jura", sans-serif;
  line-height: 2;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  font-size: 3rem;
  font-family: "Jura", sans-serif;
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
}

/* Header styles */
header {
  z-index: 2;
  background-color: #f8f8f8;
  /* font-size: 20px; */
  transition: all 2s ease;
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  color: black;
  padding: 10px 0;
}

#devnai-icon-header {
  width: 100px;
}

header .container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

header .header-text {
  display: inline-block;
  font-size: 30px;
  font-family: "Jura", sans-serif;
}

header i {
  padding: 5px 0;
  font-size: 25px;
}

header nav ul {
  list-style-type: none;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* About me styles */

#aboutMe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px;
  width: 50%;
}

.profile-image {
  max-width: 40%;
  height: auto;
  object-fit: cover;
}

.bio {
  font-family: "Jura", sans-serif;
  font-size: 2.5rem;
}

.fls {
  color: #27a088;
  font-weight: 300px;
}

.resume-container {
  text-align: center;
  margin-top: 30px;
}

.download-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  background-color: rgb(235, 73, 230);
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.download-btn:hover {
  background-color: rgba(235, 73, 230, 0.547);
}

.download-btn:active {
  background-color: rgba(140, 24, 136, 0.584);
}

/* About me text */
#aboutText {
  display: flex;
  flex-direction: row;
}

#aboutText img {
  margin: 10px;
  max-width: 50%;
}
*/

/* Section styles */
section {
  padding: 50px 0;
}

#naiLopes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 55%; */
  font-size: 25px;
  text-align: justify;
  padding-left: 60px;
  margin: 2%;
}

#about {
  padding: 0;
  background-image: url(./img/triangle-background.jpg);
  background-color: #f1f1f1;
  display: flex;
  justify-content: flex-end;
}

#projects {
  background-color: #fff;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-inline: 10%;
}

/* .project-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}
*/
/* .project-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}  */

.project-card {
  background-color: white;
  max-width: 70%;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  margin: 40px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.project-card h2 {
  font-size: 20px;
  text-align: center;
  color: #6a8781;
}
.project-card:hover {
  transform: translateY(-10px);
}
.project-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

/* Section Experience - My journey */
#experience p {
  font-size: 15px;
}

.grid-experience {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  gap: 20px;
  padding: 20px;
  margin-inline: 5%;
}

.grid-experience > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: justify;
}
.grid-experience > div:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  border-radius: 20px 0;
}
.item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
  border-radius: 0 20px;
}
.item3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 8;
  border-radius: 20px 0;
}
.item4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 10;
  border-radius: 0 20px;
}
.item5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 10;
  grid-row-end: 12;
  border-radius: 20px 0;
}
.item6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 12;
  grid-row-end: 14;
  border-radius: 0 20px;
}
.item7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 14;
  grid-row-end: 16;
  border-radius: 20px 0;
}

/* Section titles */
h2 {
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

/* Skills styles */
#skills {
  background-color: #fff;
}
.skills-section ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-section ul li {
  display: inline-block;
  margin: 10px;
  font-size: 1.2rem;
  background-color: #6a8781;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
}

/* Footer styles */
footer {
  background-color: #888888;
  color: white;
  text-align: center;
}

#contact {
  display: flex;
  justify-content: flex-end;
}

#contact h2 {
  margin: 10px 0px 0px 0px;
}

.social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  margin: 10px 10px;
}

.social-icons a i {
  font-size: 2em;
  color: #ffffff;
}

#devnai-icon {
  width: 200px;
}

#contact .project-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-link {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.project-email {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  max-width: 70%;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#copyright {
  background-color: #333;
}

@media only screen and (max-width: 1024px) {
  header .header-text {
    display: none;
  }
}

/* Tablet Styles (Screen width 768px and below) */
@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  header .container {
    font-size: 10px;
    justify-content: center;
  }
  header .header-text {
    display: none;
  }
  #nav-icons {
    display: none;
  }
  #aboutMe {
    padding: 50px;
    padding-top: 100px;
  }
  #aboutMe h1 {
    /* color: purple; */
    font-size: 25px;
  }
  p {
    font-size: 15px;
  }
  .resume-container {
    font-size: 15px;
  }
  .download-btn {
    font-size: 15px;
  }
  #experience p {
    font-size: 10px;
  }
  #experience h3 {
    font-size: 15px;
  }
  #experience h4 {
    font-size: 12px;
  }
  .grid-experience {
    grid-template-columns: repeat(1, 1fr);
  }
  .item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 6;
    border-radius: 0 20px;
  }
  .item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 10;
    border-radius: 0 20px;
  }
  .item6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 12;
    grid-row-end: 14;
    border-radius: 0 20px;
  }
}

/* Mobile Styles (Screen width 480px and below) */
@media only screen and (max-width: 480px) {
  body {
    width: 100%;
  }
  header .container {
    font-size: 10px;
    justify-content: center;
  }
  header .header-text {
    display: none;
  }
  #nav-icons {
    display: none;
  }

  #aboutMe {
    padding: 50px;
    padding-top: 100px;
  }
  #aboutMe h1 {
    /* color: red; */
    font-size: 18px;
  }
  p {
    font-size: 10px;
  }
  .resume-container {
    font-size: 10px;
  }
  .download-btn {
    font-size: 10px;
  }
  #aboutText {
    flex-wrap: wrap;
    justify-content: center;
  }
  #naiLopes {
    padding-left: 30px;
    padding-top: 30px;
  }
  #experience p {
    font-size: 10px;
  }
  #experience h3 {
    font-size: 15px;
  }
  #experience h4 {
    font-size: 12px;
  }
  .grid-experience {
    grid-template-columns: repeat(1, 1fr);
  }
  .item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 6;
    border-radius: 0 20px;
  }
  .item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 10;
    border-radius: 0 20px;
  }
  .item6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 12;
    grid-row-end: 14;
    border-radius: 0 20px;
  }
}
